---
import "../styles/globa.css"
import { services } from "../data/services";
import Layout from "../layouts/Layout.astro";
import ServiceCard from "../components/ServiceCard.astro";
import Banner from "../components/Banner.astro";
import service from "/public/images/hero/services.webp";
---

<Layout>
  <Banner
    title="Nuestros Servicios"
    description="Soluciones integrales para sus necesidades de construcción e ingeniería"
    image={service}
  />

  <section class="container mx-auto px-4 py-8">
    <div class="max-w-7xl mx-auto px-4">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
        {services.map((service) => <ServiceCard {...service} />)}
      </div>
    </div>
  </section>
  <section class="bg-gray-50 py-20">
    <div class="max-w-7xl mx-auto px-4 text-center">
      <h2 class="text-3xl font-bold mb-6">¿Necesita nuestros servicios?</h2>
      <p class="text-xl text-gray-600 mb-8">
        Contáctenos para discutir su próximo proyecto
      </p>
      <a
        href="/contact"
        class="bg-primary text-white px-8 py-3 rounded-md text-lg font-semibold hover:bg-blue-800 transition duration-300"
      >
        Solicitar Cotización
      </a>
    </div>
  </section>
</Layout>
