---
import "../styles/globa.css"
import { Image } from "astro:assets";
const { image, title, description } = Astro.props;
---

<section
  class="relative flex items-center min-h-[50vh] md:min-h-[70vh] bg-blue-900 text-white py-16 md:py-32"
>
  <div class="absolute inset-0">
    <Image
      class="w-full h-full object-cover"
      src={image}
      alt={title}
    />
    <div class="absolute inset-0 bg-blue-900/75"></div>
  </div>
  <div class="relative max-w-7xl mx-auto px-4 text-center w-full">
    <h1 class="text-4xl md:text-5xl font-bold mb-6">{title}</h1>
    <p class="text-xl md:text-2xl">{description}</p>
  </div>
</section>
