---
import "../styles/globa.css"
---

<footer class="bg-gray-900 text-white py-12">
  <div class="max-w-7xl mx-auto px-4">
    <div
      class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 lg:justify-items-center gap-10"
    >
      <div>
        <h3 class="text-xl font-bold mb-4">LUANG ASOCIADOS SAC</h3>
        <p class="text-gray-400 mb-4">
          Proveemos a nuestros clientes productos, soluciones y servicios en el
          sector eléctrico industrial y minero.
        </p>
        <p class="text-gray-400">
          Nuestra prioridad es satisfacer las necesidades y exigencias de
          nuestros clientes.
        </p>
      </div>

      <div>
        <h3 class="text-xl font-bold mb-4">Enlaces Rápidos</h3>
        <ul class="space-y-2">
          <li><a href="/" class="text-gray-400 hover:text-white">Inicio</a></li>
          <li>
            <a href="/services" class="text-gray-400 hover:text-white"
              >Servicios</a
            >
          </li>
          <li>
            <a href="/sales" class="text-gray-400 hover:text-white">Ventas</a>
          </li>
        </ul>
      </div>

      <div>
        <h3 class="text-xl font-bold mb-4">Servicios</h3>
        <ul class="space-y-2">
          <li>
            <a href="/services" class="text-gray-400 hover:text-white"
              >Ejecución de proyectos multidisciplinarios</a
            >
          </li>
          <li>
            <a href="/services" class="text-gray-400 hover:text-white"
              >Fabricación de tableros</a
            >
          </li>
          <li>
            <a href="/services" class="text-gray-400 hover:text-white"
              >Construcción Industrial</a
            >
          </li>
          <li>
            <a href="/services" class="text-gray-400 hover:text-white"
              >Instalaciones Eléctricas</a
            >
          </li>
          <li>
            <a href="/services" class="text-gray-400 hover:text-white"
              >Soluciones Mineras</a
            >
          </li>
        </ul>
      </div>

      <div>
        <h3 class="text-xl font-bold mb-4">Contacto</h3>
        <ul class="space-y-2 text-gray-400">
          <li>Dirección: Parque Industrial Mz. F Sub Lote 7B, Tacna</li>
          <li>Teléfono: <a href="tel:052411409">(052) 411409</a></li>
          <!--  <li>Celular: <a href="tel:+51990032706">+51 990 032 706</a></li> -->
          <li>Celular: <a href="tel:+51977824787">+51 990 032 706</a></li>
          <li>
            Email: <a href="mailto:luangsac@gmail.com">luangsac@gmail.com</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="border-t border-gray-800 mt-12 pt-8 text-center text-gray-400">
      <p>
        &copy; {new Date().getFullYear()} LUANG ASOCIADOS SAC. Todos los derechos
        reservados.
      </p>
    </div>
  </div>
</footer>
