---
import "../styles/globa.css"
import Navbar from "./Navbar.astro";
---

<header
  class="flex items-center justify-between px-4 md:px-6 lg:px-8 py-3 bg-white shadow-md sticky top-0 z-50 border-b border-gray-100"
>
  <a href="/" class="transition-transform duration-300 hover:scale-105">
    <img class="h-10 lg:h-14" src="/imagotipo.svg" alt="logo" />
  </a>
  <div class="flex items-center gap-4 md:gap-6">
    <Navbar />
  </div>
</header>
