---
import "../styles/globa.css"
import Navbar from "./Navbar.astro";
---

<header
  class="flex items-center justify-between p-4 bg-white shadow-lg sticky top-0 z-50"
>
  <a href="/"><img class="h-10 lg:h-14" src="/imagotipo.svg" alt="logo" /></a>
  <div class="flex items-center gap-4 md:gap-8">
    <Navbar />
  </div>
</header>
